body {
  background-color: #0f0f0f;
  color: #f0f0f0;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 10px;
}

.slides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;

  /*
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  */
}

footer {
  display: block;
  text-align: center;
  margin-top: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-top: 2em;
  list-style-type: none;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20vw; /* Use vw (viewport width) units for horizontal padding */
}

.nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
  padding: .8em; /* Use em units for padding */
}

.nav-link {
  background-color: #242424; /* Change to your desired color */
  color: #ffffff; /* Change text color as needed */
  padding: 1px 1px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  border-radius: 10px; /* Optional: Add rounded corners */
}

.center {
  width: auto;
  height: 10vh; /* Use vh (viewport height) units for height */
  object-fit: contain;
}

@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    padding: 2vh 5vw; /* Use vh and vw units for padding */
  }

  .nav-container a {
    font-size: 0.75em;
    padding: 0.5em; /* Use em units for padding */
  }
}

.job-listing {
  background-color: #292929;
  margin: 2em auto; /* Vertical margin is 1em, horizontal margin is automatic */
  padding: 3em;
  border-radius: 10px;
  width: 70%; /* Adjust as needed */
  max-width: 1200px; /* Prevent the div from becoming too wide on large screens */
}

.job-listing h2 {
  text-align: left;
  color: rgb(247, 187, 255);

}
.job-listing h3 {
  text-align: left;
  color: rgb(184, 191, 255);
}
.job-listing h4 {
  text-align: left;
  padding-left: 2em;
  padding-right: 2em;
}