body {
  background-color: #0f0f0f;
  color: #f0f0f0;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 10px;
}

.slides {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;

  /*
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  */
}

footer {
  display: block;
  text-align: center;
  margin-top: 300px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-top: 30px;
}
